.form-control {
  border-radius: 0;
  color: #f77c57;
  background-color: #282a39;
  border: 0;

  &:focus {
    background-color: #282a39;
    color: #fff;
  }
}

.form-group {
  margin-bottom: 25px !important;
}
